body {
    background-color: darksalmon;
}
h1 {
    background-color: blue;
    color: white;
    font-family: "Lucida Handwriting";
    padding: 50px;
    margin: 0 auto;
    width: 300px;
    border: 10px solid red;
}

h2 {
    background-color: red;
    color: greenyellow;
    font-family: "Papyrus";
    padding: 25px;
    margin: 0 auto;
    width: 200px;
    border: 5px solid black;
}